body {
    background-color: lightcoral;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.eminem {
    width: 35%;
    height: 35%;
    float: left;
}
.banner {
    width: 100%;

}
.contenedor {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.historia {

    margin: 10px;
    background-color: brown;
    color: white;
    width: 70%;
    text-align: justify;
    padding: 5px;
}

.discografia {
    margin: 10px;
    background-color: blueviolet;
    color: white;
    width: 25%;
    text-align: center;
    padding: 5px;
}

.restaurante {
    background-color: violet;
    margin: 10px;
    color: white;
    padding: 5px;
    text-align: justify;
}

.logros {
    background-color: purple;
    margin: 10px;
    padding: 5px;
    color: white;
    text-align: justify;
    width: 50%;

}

.video {
    background-color: rebeccapurple;
    margin: 10px;
    padding: 5px;
    color: white;
    text-align: justify;
    width: 45%;
}

.logos {
    width: 15%;
    float: right;
}

.musica {
    width: 100%;
}

footer {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, blueviolet, purple);

}

a {
    text-decoration: none;
    
}
@media (max-width: 800px) {
    .contenedor {
      flex-direction: column;
    }

    .historia {
        width: 97%;
    }

    .discografia {
        width: 97%;
    }

    .logros {
        width: 97%;
    }
    .video {
        width: 97%;
    }
  }